

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin: 0;
	padding: 0;
}

#page {
	max-width: 1200px;
	margin: 0 auto; /*центрует изображение	*/
	position: relative; /* контент внутри не выходит за границы */
}

/* !!!!!!!     Text styles          !!!!!!!!!!!*/

h1 {
	margin: 0 0 1em 0;
	font-size: 2.8em;
	font-weight: 700;
}

h2 {
	margin: 0 0 0.5em 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1em;
}

h3 {
	margin: 0 0 0.5em 0;
	font-size: 1.3em;
	font-weight: 700;
}

h4 {
	margin: 0 0 1.5em 0;
	font-size: 1em;
	font-weight: 700;
}

p { 	margin: 0 0 1em 0;  }

a {	color: #007eff;}
		a: visited { color: #65b1ff; }

a.btn {
	font-size: 1.3em;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 4px 15px;
	transition: background-color .6s;
}

		a.btn:hover {  background-color: rgba(0, 0, 0,.3);	}

/* header style*/


header {
	height: 430px;
	background: #3B0E09 url(C:/Users/User/Desktop/progect-parks/img/list-red.jpg) no-repeat center bottom;
	position: relative;
}

header a.logo {
	z-index: 1;
	position: absolute;
	display: block;
	width: 260px;
	height: 70px;
	background: url(C:/Users/User/Desktop/progect-parks/img/logopark.png) no-repeat 0 0;
	background-size: contain;
	top: 20px;
	left: 20px;
}

header a.logo span { display: none; }

header div.hero { 
	position: absolute;
	width: 38%;
	top: 170px; 
	left: 50%; 
}

header div.hero h1 {
	line-height: 1em;
	margin: 0 0 30px 0;
	color: #fff;
}

/* Section ALL*/

section {	padding: 0 30px; }
	section::after {
		content: "";
		display: block;
		clear: both;
	}


/* Section MAIN*/

section.main {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
}

section.main aside {
	width: 33%;
	float: left;
	text-align: center;
}

section.main .content {
	margin: 15px;
	background: no-repeat center top;
	background-size: 75px 75px;
	padding-top: 85px;
}

section.main aside h3 a {
color: #3B0E09;
text-decoration: none;
}
		section.main aside h3 a:hover {	text-decoration: underline; 	}


section.main aside .content.events { background-image: url(C:/Users/User/Desktop/progect-parks/img/star.svg); }
section.main aside .content.entertainment { background-image: url(C:/Users/User/Desktop/progect-parks/img/ferris-wheel.svg); }
section.main aside .content.map { background-image: url(C:/Users/User/Desktop/progect-parks/img/placeholder.svg); }

/* section atmosphere */

section.atmosphere {
	background-color: #cc6633;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
}

section.atmosphere article {
	padding: 0 20px 0 515px;
	background: url(C:/Users/User/Desktop/progect-parks/img/uul.jpg) no-repeat 0 5px;
	min-height: 220px;
}

/* section  flora-fauna*/

section.flora-fauna {
	background-color:  #ddbb99;
	position: relative;
}

section.flora-fauna aside {
	width: 30%;
	float: left;
	margin-right: 10px;
}

section.flora-fauna aside .content {	padding: 30px 30px 20px 0; }

section.flora-fauna aside .content img {
	display: block;
	margin-bottom: 15px; 
	width: 70%;
	box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

section.flora-fauna aside .content h4 {	margin-bottom: 0; }

section.flora-fauna aside .content p {	margin-bottom: 0.5em; }

section.flora-fauna aside .content a {	
	display: inline-block;
	color: #cc6633; 
	font-weight: 700;
	}

section.flora-fauna blockquote {
	margin: 0;
	width: 32%;
	color: #444;
	background-color: #fff;
	position: absolute;
	bottom: 0; 
	right: 4%;
	box-shadow: 6px -8px 12px 0px rgba(50, 50, 50, 0.1);
}

section.flora-fauna blockquote p {	margin: 30px 30px 20px 50px; }

section.flora-fauna blockquote p.quote {
font-style: italic;
font-size: 1.2em;
}

section.flora-fauna blockquote p.credit {
	color: #777;
	font-size: .9em;
	margin-top: 0;
	padding-left: 20px;
	line-height: 1.3em;
	position: relative;
}

section.flora-fauna blockquote::before {
	content: "\201c";
	color: #d2bd65;
	position: absolute;
	top: 10px;
	left: 8px;
	font-size: 5em;
	font-family: serif;
}


section.flora-fauna p.credit::before {
	content: "\2014";
	position: absolute;
	left: 0;
	top: -1px;
}

/* NAVIGATIOOON !!! */

nav {
	background-color: rgba(0, 0, 0, .65);
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 45px 0 0 0;
	width: 100%
}



nav::after {
	content: '';
	display: block;
	clear: both;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

nav ul li:hover { background-color: #8F2C00;}

nav ul li a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	width: 125px;
	position: relative;
	color: #fff;
}

nav ul li:hover > ul { display: block; }

nav ul ul li {	position: relative; }

nav ul ul {
	position: absolute;
	top: 100px;
	background-color: #8F2C00;
	display: none;
}

nav ul li a:visited { color: #fff; }

nav ul li a:hover { background-color: #cc6633; }

nav ul ul ul {
	left: 100%;
	top: 0%;
}
           /* top-level*/

nav > ul {	padding-left: 300px; }

nav > ul > li {
	float: left;
}

nav > ul > li > a {
	width: auto;
	padding: 10px 20px 15px 20px;
}

nav a[aria-haspopup = "true"]::after { 
	content: "";
	display: block;
	height: 0px;
	position: absolute;
	top: 16px;
	right: 15px;
	/* рисуем триугольник для укозателя сабменю*/
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #fff;
	 }

 nav > ul > li > a[aria-haspopup = "true"]::after {
 	border-left: 4px solid transparent;
 	border-right: 4px solid transparent;
 	border-top: 4px solid #fff;
 	left: 20px;
 	right: auto;
 	bottom: 6px;
 	top: auto;
 }
/*   that's a FOOTEER  */

footer {
	font-size: .8em;
	margin: 40px;
	color: #999;
}

footer.content { display: inline; }

footer div.links { display: inline; }

footer a {	margin-left: 30px; 	color: #777; }

footer a::viseted  { color: #777; }

footer a::hover  { color: #000; }

/* media queries */

@media screen and (max-width: 1400px) {
	header {background-size: 100%;}
}

@media screen and (max-width: 1000px) {
	h1 {	font-size: 2.4em; }
		/* header area*/
		header div.hero { left: 56px; }
		header div.hero h1 {margin-bottom: 20px;}
		
		/* Section atmosphere*/
		section.atmosphere article { padding-left: 400px;
		 background-size: 375px auto; 
		  }
}

@media screen and (max-width: 825px) {
	h1 { font-size: 2.1em; }
	header {	height: 300px;	background-image: url(C:/Users/User/Desktop/progect-parks/img/list-red-825.jpg) }
		header div.hero { top: 150px; left: 48%; }
	
		/* section atmosphere */
	section.atmosphere article {
		padding-left: 325px; background-size: 300px auto;
		}
	
	section.flora-fauna blockquote p.quote {
	font-size: 1.1em;
	line-height: 1.2em;
	}

	section.flora-fauna blockquote p.credit {
		font-size: .85em;
	}
}

@media screen and (max-width: 760px) {
	h1 { font-size: 1.8em; }
	h2 { font-size: 1.4em; }
	h3 { font-size: 1.1em;}
	a.btn {font-size: 1em;}

	/* header*/
		header a.logo {
		width: 145px;
		height: 60px;
		
	}

	header div.hero {
		top: 140px;
		left: 48%;
	}

	/*section main*/
	section.main {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	section.main aside div.content {
		background-size: 55px 55px;
		padding-top: 60px;
		}

	section.flora-fauna aside div.content img {
	width: 85%
	}

	/* navigation */
	nav {
		padding-top: 80px;
	}

	nav>ul {
		padding-left: 10px;
	}
}

@media screen and (max-width: 625px) {
h1 { font-size: 1em;}
h3 { margin-bottom: 0px; }
a.btn { font-size: .9em; }

/*header*/
header {
	height: 160px;
	background-image: url(C:/Users/User/Desktop/progect-parks/img/list-red-640.jpg); 
	background-position: left top;
}

header a.logo {
	width: 100%;
	height: 66px;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, .65);
	background-size: 112px, 46px;
	background-position: 20px center;
}

header div.hero {
	width: 300px;
	top: 85px;
	left: 14 0px;
}

header div.hero h1 { margin-bottom: 10px; }

/*section main*/

section.main aside {
	width: 100%;
	float: none;
	text-align: left;
}

section.main aside div.content {
	margin: 8px 20px 8px 0;
	padding: 5px 0px 10px 85px;
	background-size: 50px 50px;
	background-position: 20px 5px;

}

/*section atmosphere*/

section.atmosphere article{
	padding: 160px 20px 0px 0px;
	background-size: 300px auto;
	min-height: initial;
}

/*section flora-fauna*/
section.flora-fauna aside {
	width: 100%;
	float: none;
	margin: 0px;
	position: relative; 
}

section.flora-fauna aside div.content {
	padding: 20px 20px 20px 150px;
}

section.flora-fauna aside div.content p {
	font-size: .9em;
}

section.flora-fauna aside div.content img {
	display: inline-block;
	width: 125px;
	position: absolute;
	top: 30px; left: 0px;
}

section.flora-fauna blockquote {
	margin: 0px 20px 0px 40px;
	width: 90%;
	padding: 1px 0px 20px 0px;
	position: relative;
}

ection.flora-fauna blockquote p.credit {
	margin-bottom: 0px;
}

/* navigation */

nav { 
	position: static; 
	width: auto;
	padding: 20px 15px;
	background-color: #4b0a0c;
    }

    nav ul,
    nav ul ul,
    nav ul ul ul {
    	display: block;
    	position: static;
    }

    nav > ul { padding: 0px; }
    nav > ul > li { 
    	float: none; 
    	margin-top: 25px;
    }
	nav > ul > li:hover {
		background: none;
	}
	nav ul li a {
		width: auto;
		display: block;
		margin: 8px 10px;
		padding: 8px 15px;
		border: 1px solid rgba(225,225,225,.025); 
	}

	nav ul li a:hover {	background-color: rgba(225,225,225,.02); }

	nav ul ul {background: none;}

	nav ul ul li a { margin-left: 30px; }

	nav ul ul ul li a { margin-left: 60px; }

	nav a[aria-haspopup="true"]::after {display: none;}

			/* footer */
	footer div.content {
	display: block;
	margin-top: 15px;
	}
	
	footer div.links { display: block; }

	footer div.content a {	margin: 0px 20px 0px 0px;	} /* тут какая то хреновая проблема, ссылочки не встают вниз */
}

@media screen and (max-width: 425px) {
	/* header */
	header {
		height: 110px;
		background-image: url(C:/Users/User/Desktop/progect-parks/img/list-red-425.jpg);
	}

	header a.logo {
				height: 36px;
		background: rgba(0, 0, 0, .65) url(C:/Users/User/Desktop/progect-parks/img/logo-min.png) no-repeat center center;
		background-size: 126px 17px;
	}

	header div.hero {
		width: 100%;
		left: 0px;
		top: 46px;
		text-align: center;
	}

	header div.hero h1 {
		margin-bottom: 10px;
		font-size: 1em;
	}

	header div.hero a.btn {
	padding: 2px 8px;
	font-size: .8em;
	}

	section.flora-fauna aside div.content {	padding: 140px 20px 20px 0px;	}

	section.flora-fauna aside div.content img {
		width: auto;
		height: 110px;
		top: 30px;
	}

	section.flora-fauna blockquote { margin: 10px 40px 0 20px; }

	/*footer small */
	
	footer::after {
		content: "";
		display: block;
		clear: both;
	}

	footer div.content a {
		display: inline-block;
		margin: 0 0 10px 0;
		float: left;
		clear: both;
	}
}